@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Nunito+Sans:wght@400;600;700;800&family=Playfair+Display:wght@700&display=swap");

body {
  background: url(../img/bg-inner.png) no-repeat right top;
  block-size: 50vw;
  font: 400 22px/1.9 "Nunito Sans", sans-serif;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1647px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #44224b;
  font-weight: 700;
  margin: 0 0 70px;
}
h1 {
  font-size: 29px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}

a {
  text-decoration: none;
}
.ba-section-intro {
  background: url(../img/bg-inner-right.png) no-repeat left bottom;
}
.ba-section-intro__inner {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ba-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 81px;
}
.ba-header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.ba-nav__item {
  margin-left: 83px;
  line-height: 1;
}
.ba-nav__link{
  color: #723182;
}
.ba-nav__link--active{
  opacity: 1;
}
.ba-nav__link--default{
  opacity: 0.6;
}
.ba-nav__link:hover{
  color: hotpink;
}

.ba-nav__link--button {
	border-radius: 27px;
	background-color: #723182;
	color: #ffffff;
	font-size: 20px;
	padding: 12px 56px;
 }
 .ba-nav__link--button:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	 background-color: #fff;
  
   color: #723182;
 }
.ba-intro{
  padding: 179px 0 300px; 
}
.ba-intro__inner{
  width: 50%;
  min-height: 100vh;
}
.ba-intro__title{
  font-size: 76px;
  margin-bottom: 78px;
}
.ba-intro__subtitle{
  margin-bottom: 41px;
  color: #2D2058;
  font-size: 28px;
}